.headerHolder h1
{ 
  font-weight:bold;
  display: inline;
}
.headerHolder
{
    display: flex;
    margin-top:2%;
}
.budgetsBtnHolder
{
    margin-left:60%;
}
.addHeading
{
    display: inline;
}
.CardHolder
{
    width:90%;
    height:0 auto;
   text-align: center;
   border:1px solid black;
   margin-top:5%;
 
}
.progressBarHolder
{
    width:90%;
    margin-left:5%;
    margin-top:5%;
}
.topics
{
    display: inline;
    font-size:25px;
}
.Money
{
    display: inline;
    margin-left:40%;
  color: rgb(150, 147, 147);
}

